# =========================
# C/C++ Standard
# =========================
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# =========================
# Microchip Studio / AVR GCC
# =========================
Debug/
Release/
.vs/
*.user
*.aps
*.componentinfo.xml
*.tmp
*.eep
*.lss
*.sym
*.lock
*.srec

# =========================
# Qt framework (HMI)
# =========================
build-*/
*.stash
*.qm
*.pro.user
*.pro.user.*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*

# =========================
# Visual Studio Code & OS
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.DS_Store
Thumbs.db